<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TADAO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
    
</head>
<body>

    <header>

        <div class="image container">
            <img src="../image/logo-tadao-couleur2018.png" alt="logo tadao">
            <a href="#"><span>Besoin d'un conseil ?</span> 
                <span>On vous appelle...</span>
                <img src="../image/icon-rappel.png" alt="logo rappel"></a>
        </div>

        <div class="ligne_jaune">

        </div>

        <div class="menu">
            <form action="index.php" name="formulaire" method="POST">
                <select name="city">
                    <option>Selectionner un établissement scolaire</option>
                    {% for town_name in towns_name %}
                    <option value="{{ town_name }}">{{ town_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-warning">Confirmer</button>
            </form>
        </div>
    </header>


    {# <form action="index.php" name="formulaire" method="POST">
        <select name="city">
            {% for route in routes %}
            <option value="">{{ route }}</option>
            {% endfor %}
        </select>
        
    </form>

    <form action="index.php" name="formulaire" method="POST">
        <select name="city">
            {% for city_long_name in city_long_names %}
            <option value="">{{ city_long_name }}</option>
            {% endfor %}
        </select>
    </form> #}


    

    <table class="table table-striped container">
        
        <thead>
            <h4 class="title container">{{ etab_scolaire }}</h4>
            <tr>
                <th>Montée / Descente</th>
            {% for route in routes %}
            <th scope="col">Circuit {{ route }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for keyCity, city_long_name in city_long_names %}
            <tr>
            <th scope="row">{{ city_long_name }}</th>
            {% for key, route in routes %}
                {% if key == keyCity %}
                    <th><img class="icon_bus" src="../image/image_bus.png"></th>
                {% else %}
                    <th>{{ passages }}</th>
                {% endif %}
            {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>

</body>
</html>